.appwrapper { 	
	background: #FFF; 	
	width: 80%; 	
	padding: 5px; 	
	border: 1px solid #333; 	
	margin-right: auto; 	
	margin-left: auto; 	
	display: table; 
	}

h1{
	font-size:1.5em;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #666666;
	padding: 0px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	color: #006666;
	text-align: left;
	}
	
h1 a{
	font-size: 0.7em;
	float: right;
	text-decoration: underline;
	color: #006666;
	}

h2 {
	font-weight: bold;
	background: #003162 url(css_image/h2_back.jpg) repeat-x left top;
	color: #FFFFFF;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 10px;
	margin-top: 5px;
	font-size: 1em;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	text-align: left;
}


#azlogo{
	height: 75px;
	float: left;
	width: 302px;
	text-align: left;
	margin-right: -20em;
	}

.seal{
	float: right;
	background: url(css_image/azlogo.jpg) no-repeat left;
	height: 75px;
	width: 302px;
	text-align: right;
	margin-left: -20em;
	}

#helpmenu{
	width: 100%;
	height: 1.5em; /*Height of top frame div*/
	overflow: hidden;
	background: #DDC79F url(css_image/back_helpmenu.jpg) repeat-x left top;
	text-align: right;
	display: block;
	font-weight: bold;
	color: #FFFFFF;
	line-height: 1.5em;
	font-size: 0.9em;
	margin: 1px;
	}

#helpmenu a{
	color: #FFFFFF;
	text-decoration: none;
	padding-right: 5px;
	padding-left: 5px;
	}
#bnr_wrapper {
	background: #AAA878 url(css_image/back_bnr.jpg) repeat-x left top;
	white-space: nowrap;
	min-width:800px;
	display: block;
	width: 100%;
	text-align: center;
	height: 5.86em; /* safari fix, don't change */
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #0D064C;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #0D064C;
}
/* for Internet Explorer */
/*\*/
*html #bnr_wrapper {
	min-width: 810px !important;
	white-space: nowrap;
}
/**/

#bnr_text {
	color: #FFFFFF;
	margin-top: 0.6em;
	font-size: 1.7em;
	font-weight: bold;
	line-height: 1.2em;
	text-shadow: #000 2px 2px 2px;
	margin-left:auto;
	width:500px;
	margin-right: auto;
}

#breadcrumb {
	color: #333333;
	background: #AAA878;
	border-bottom-color: #333333;
}
#breadcrumb a {
	color: #333333;
	text-decoration: none;
}


.data_table {
	background: #CCCCCC;
	border: 1px solid #666666;
}
.data_table th {
	background: #CCC;
	text-align: left;
	
}

.data_table td {
	background: #FFF;
	text-align: left;
	
}
* html .display_table{ /*IE6 fix*/
	font-size: 1em;	
	}
* html .home_table {
	font-size: 1em;} /*IE6 fix*/
* html .data_table{
font-size: 1em;} /*IE6 fix*/
* html .data_table .submit_button{
font-size: .9em;} /*IE6 fix*/
* html fieldset{
font-size: .8em;} /*IE6 fix*/
* html .submit_button{
	font-size: .8em;
	margin: 0px;
	overflow: visible;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 5px;
} /*IE6 fix*/
.submit_button {
	color: #FFFFFF;
	border: 1px solid #000000;
	background: #3A6592 url(css/btn_back.jpg) no-repeat left top;
	padding-left: 5px;
}
.submit_button:hover {
	background: #333 url(css_image/btn_back_roll.jpg) no-repeat left top;
	}
.submit_button:focus {
	cursor: pointer;
	background: #333 url(css_image/btn_back_roll.jpg) no-repeat left top;
	}
.welcome_wrapper {
	text-align: left;
	font-size: 1.1em;
	color: #333333;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
}
.welcome_button {
	text-align: center;
}
.welcome_button a {
	text-shadow: #000 2px 2px 2px;
	color: #FFFFFF;
	text-decoration: none;
	background: #999999 url(css_image/welcome_back.jpg) repeat-x left top;
	width: 12em;
	padding-left: 0px;
	display: block;
	height: 30px;
	font-size: 1.5em;
	font-weight: bold;
	line-height: 1.4em;
	border: 1px solid #333333;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	cursor: pointer;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	cursor: pointer;
}
.welcome_button a:hover {
	background: #666666;
	color: #FFFFFF;
	text-decoration: none;
	cursor: pointer;
}
.welcome_button img {
	float: left;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin: 0px;
	padding: 0px;
	
}

.welcome_wrapper h1 {
	text-align: left;
	font-size: 1.3em;
	color: #000000;
}

.welcome_wrapper h2 {
	text-align: left;
	font-size: 1.1em;
	background: #FFFFFF;
	color: #000000;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #666666;
	margin-bottom: 5px;
	margin-top: 5px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	clear: both;
}
.welcome_wrapper ul  {
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
}
	
.welcome_wrapper li  {
	padding: 2px;
}
.welcome_wrapper .welcome_image {
	width: 100px;
	float: right;
	height: 100px;
	border: 1px solid #666666;
	margin-left: 2em;
}