html{
	overflow: hidden; 
	}

body {
	overflow: visible !important;
	color:#333333;
	text-align:left;
	font: 10pt Arial, Helvetica, sans-serif;
	}
	
.home_table, #innertube{
width: 100%;
	border: none;
	background: #FFFFFF;
	margin-right: .25in;
	padding-right: .25in;
	}
#headerTop, .skipnavlink, h1 a, .footer_nav a, .button_table {
display:none;
visibility:hidden;}

h2, h1 {
font-size: 12pt;
	font-weight: bold;
	text-align:left;
	color: #333333;
}

.printwrapper {
	visibility:visible;
	display:block;
	font-size: 14pt;
	font-weight: bold;
	margin-bottom: 5pt;
	padding-bottom: 5pt;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #333333;
}
.error {
	text-align: left;
	}