html{
	overflow: hidden; 
	}

body{
	behavior: url(../css/ie_fix.htc);
	margin: 0;
	padding: 0;
	border: 0;
	overflow: hidden;
	height: 100%;
	max-height: 100%;
	font-family:Arial,Geneva,Helvetica,sans-serif;
	font-size:.8em;
	color:#333333;
	background: #666;
	width:100%:
	}



* html body{ /*IE6 fix*/
	padding-top: 9em;	
	}
	/* Hide the following from IE/MAC as this doesn't need the fix... \*/
#MinWidthContainer {
padding-left:790px;
height: 1px;
}
#MinWidthContainer #PageContainer {
height: 1px;
}
#MinWidthContainer #PageContainer #PageContentContainer {
margin-left:-790px;
position: relative;
height: 1px;
}
?* End of IE/MAC hide */






	
* html .display_table{ /*IE6 fix*/
	font-size: 1em;	
	}
* html .home_table {
width:60em;

	font-size: .9em;} /*IE6 fix*/
* html .data_table{
font-size: 1em;} /*IE6 fix*/
* html fieldset{
font-size: .8em;} /*IE6 fix*/

.hidden_link {
	display: none;
	visibility: hidden;
}
	
abbr {
	text-decoration:none;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
	
.error {
display:table;
	padding: 5px;
	width: 90%;
	max-width: 50em;
	border: 2px solid #FFCC66;
	vertical-align: middle;
	min-height:100px;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	margin-bottom: 5px;
	font-weight: bold;
	background: #FFFFE0 url(../images/error.jpg) no-repeat left top;
	}
.error_noimage {
	padding: 5px;
	width: 90%;
	max-width: 50em;
	border: 2px solid #FFCC66;
	vertical-align: middle;
	margin-bottom: 5px;
	background: #FFFFE0
	}
a:hover {
	color:#333;
	text-decoration:underline;
	}
	
.error 	a:hover{
	color:#A24500;
	text-decoration:none;
	}

.errror_message {
	font-weight: bold;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-right:1em;
	margin-left: 4em;
	padding-left: 3em;
	text-align: left;
	}
	
.error_list {
	margin: 0px;
	padding: 0px;
	width: 100%;
	}	
.errMessage {
	color:red;
}		
#headerTop {
position: absolute;
	width: 100%;
	height: 9em;
	overflow: hidden;
	color:#FFFFFF;
	top: 0em;
	background: #666;
	min-width: 800px;
	white-space: nowrap;
	}
	
#minwidth_wrapper{
padding-left:800px;
height: 1px; 
}
	

#maincontent{
	position: fixed;
	top: 9.1em;
	left: 0;
	right: 0;
	bottom: 0em;
	overflow: auto;
	width:100%;
	}
	
* html #maincontent{ /*IE6 hack*/
	height: 100%;
	width: 100%;
	margin-bottom: 0em;
	text-align:center
	}

#innertube{
	min-width: 50em;
	margin-top: 0px;
	background: #FFF;
	border: 1px solid #343434;
	padding-right: 1em;
	padding-left: 1em;
	padding-bottom: 2em;
	margin-right: auto;
	margin-left: auto;
	min-height: 30em;
	display: table;
	width: 70%;
	}
	/* for Internet Explorer */
/*\*/
*html #innertube {
height: 30em !important;

}
/**/


/* ONE COLUMN LAYOUT */
#left_onecolumn {
 	float: left; 
	width: 100%; 
	}


/* TWO COLUMN LAYOUT */
#left_twocolumn {
	float: left; 

 	}
	
#middle_twocolumn {
 	margin: 0 0 0 0; 
	}


/* THREE COLUMN LAYOUT */
#left_threecolumn {
	float: left; 

	}

#middle_threecolumn {
 	margin: 0 15em 0 21em;
	padding: 0 2em 0 2em;
	}
	
* html #middle_threecolumn {
 	margin: 0 5em 0 18em;
	padding: 0 2em 0 2em;
	}	
	

#right_threecolumn {
	float: right; 
	}


#breadcrumb {
	height: 1.5em;
	color: #333333;
	padding-top: 3px;
	padding-right: 2px;
	padding-left: 10px;
	font-size: 0.8em;
	background: #AAA878;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #333333;
}
#breadcrumb a {
	font-weight: bold;
	color: #333333;
	text-decoration: none;
}
	
#accessibility li {
	display: inline;
	padding-left: 0.31em;
	}

#accessibility ul {
	margin:0em;
	padding-top:0.94em;
	}


.skipnavlink {
	position: absolute;
	left: -1000em; 
	width: 20em;
	}

#footer{
	text-align: center;
	clear: left;
	width: 100%;
	}

.footer_nav{
	text-align: center;
	color: #FFFFFF;
	width: 100%;
	display: block;
	clear: both;
	}
.footer_nav a{
	padding-right: 5px;
	padding-left: 5px;
	color: #FFFFFF;
	text-decoration: none;
}



	

/*BEGIN MAIN NAVIGATION*/	


/* -------------------Adjust these 2 class widths for number of links--------------------- */
/*BEGIN MAIN NAVIGATION*/	
.topmenu { 
	color:#FFFFFF;
	text-transform:uppercase;
	z-index:1000000;
	height: 1.7em;
	background: #384A33;
	text-align: center;
	margin: 0px;
	padding: 0px;
	font-size: 1em;
	font-weight: bold;
	}
	

.topmenu2 { /* leave this alone */
	position:relative;
	width:200px;
	top:-138px;
	left:290px;
	font-family:Arial,Geneva,  Helvetica, sans-serif;
	font-size:10px;
	font-weight: bold; 
	color:#FFFFFF;
	text-transform:uppercase;
	z-index:1000000;
	margin-bottom:5em;
	}
.topmenu_wrapper {
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	width: 42.7em;
}

/* ---------------------Drop Menu START-------------------------- */

/* -- IE6 Menu Hacks -- */
* html .topmenu_wrapper #nav li.top {
	display:block;
	float:left;
	border-left: 1px solid #999999;
	height: 2.4em;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	background: #2F3332;
	padding-top: 4px;
	margin-bottom: -4px;
	
}
* html .topmenu_wrapper #nav li.top_last {
	display:block;
	float:left;
	border-left: 1px solid #999999;
	border-right: 1px solid #999999;
 	height: 2.4em;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	background: #2F3332;
	padding-top: 4px;
}
* html .topmenu_wrapper  #nav li a.top_link:hover {
	color:#FFFFFF;
	background: #000;
	
	
}
* html .topmenu_wrapper #nav li:hover ul.sub
{
	top:4.6em;
	background: #000;
	padding:3px;
	width:90%;
	height:6em;
	z-index:300;
	font-weight: normal;
	right: 1px;
	left: 1px;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-right-width: 2px;
	border-left-width: 2px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #000000;
	border-left-color: #000000;
	font-size: .8em;
}
/* -- IE6 Menu Hacks end -- */

.topmenu_wrapper #nav {
	padding:0;
	margin:0;
	list-style:none;
	z-index:500;
}
.topmenu_wrapper #nav li.top {
	display:block;
	float:left;
	border-left: 1px solid #999999;
	height: 1.7em;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	background: #2F3332;
}
.topmenu_wrapper #nav li.top_last {
	display:block;
	float:left;
	border-left: 1px solid #999999;
	border-right: 1px solid #999999;
	height: 1.7em;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	background: #2F3332;
}

.topmenu_wrapper #nav li a.top_link {
	display:block;
	float:left;
	line-height:2em;
	color:#FFF;
	text-decoration:none;
	font-size:10px;
	font-weight:bold;
	padding:0 11px 0 11px;
	cursor:pointer;
	text-transform: uppercase;
	margin:0 auto;
}
.topmenu_wrapper #nav li a.top_link:hover {
	color:#FFFFFF;
	background: #000;
	
}


.topmenu_wrapper #nav li a.top_link span {
	float:left;
	display:block;
	
}
.topmenu_wrapper #nav li a.top_link span.down {
	float:left;
	display:block;
	
}

.topmenu_wrapper #nav li:hover a.top_link {color:#FFFFFF; }
.topmenu_wrapper #nav li:hover a.top_link span {color:#FFFFFF; }
.topmenu_wrapper #nav li:hover a.top_link span.down { padding-bottom:1em; }


.topmenu_wrapper #nav li:hover { z-index:500;  background: #000; color:#FFFFFF;  }

.topmenu_wrapper #nav li:hover ul.sub
{
	top:3.3em;
	background: #000;
	padding:3px;
	width:50.1em;
	height:5.3em;
	z-index:300; 
	font-weight: normal;
	right: 1px;
	left: 1px;
	margin-left: auto;
	overflow: auto;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	margin-right: auto;
	border-right-width: 2px;
	border-left-width: 2px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #000000;
	border-left-color: #000000;
	text-transform: none;
}

.topmenu_wrapper #nav li:hover ul.sub li
{
	display:block;
	float:left;
	font-weight:normal;
	color:#FFF;
	height: auto;
	padding-bottom: 1px;
}
.topmenu_wrapper #nav li:hover ul.sub li a
{
	display:block;
	font-size:.9em;
	width:16.5em;
	color:#FFF;
	text-decoration:none;
	font-weight: bold;
	text-align: left;
	white-space: normal;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCCCCC;
	margin-right: 1em;
	padding-top: 1px;
	padding-right: 2px;
	padding-bottom: 1px;
	padding-left: 2px;
	
}

.topmenu_wrapper #nav li:hover ul.sub li a:hover
{
	background: #666666;
}

.topmenu_wrapper #nav li b {
  display:block;
  font-size:11px;
  height:1em;
  width:88px;
  line-height:18px;
  margin-bottom:3px;
  text-indent:6px;
  color:#FFF;
  cursor:default;
  
}

.topmenu_wrapper #nav ul, 
.topmenu_wrapper #nav li:hover ul ul,
.topmenu_wrapper #nav li:hover li:hover ul ul,
.topmenu_wrapper #nav li:hover li:hover li:hover ul ul,
.topmenu_wrapper #nav li:hover li:hover li:hover li:hover ul ul
{position:absolute; left:-9999px; top:-9999px; width:0; height:0; margin:0; padding:0; list-style:none; color:#FFFFFF; }
.topmenu_wrapper #nav li:hover li:hover a.fly,
.topmenu_wrapper #nav li:hover li:hover li:hover a.fly,
.topmenu_wrapper #nav li:hover li:hover li:hover li:hover a.fly,
.topmenu_wrapper #nav li:hover li:hover li:hover li:hover li:hover a.fly
{color:#FFFFFF;  } 
#ietable_wrapper {
	margin-left: 0%;
	display: block;
	width: 51em;
	position: absolute;
	padding: 0px;
	margin-top: -2em;
	margin-right: 0%;
	margin-bottom: 0px;
	left: 20%;
}


/* ---------------------Drop Menu END---------------------------- */

#column_wrapper{
	width: 100%;
	margin:0px;
	}

#column{
	padding-top:6px;
	width: 150px;
	float: left;
	margin:0 0 0 20px;
	font-family:Arial,Geneva,  Helvetica, sans-serif;
	font-size:10px;
	font-weight: bold;
	color:#FFFFFF;
	text-transform:uppercase;
	}

/*END MAIN NAVIGATION*/	
#bottomheader2{
	background: #1A7B30;
	height: 2em;
	text-align: right;
	padding-right: 1em;
	}
#bottomheader2 a{
	padding-right: 0.5em;
	font-weight: bold;
	text-decoration: none;
	line-height: 2em;
	background: #197B32;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	padding-left: 0.5em;
	border: 1px solid #FFFFFF;
	color: #FFFFFF;
	margin-right: .1em;
	margin-left: .1em;
	font-size: .8em;
	}

/* BEGIN HIDDEN PRINT DIVS   */
	
.printwrapper {
	visibility:hidden;
	display:none
}

/* END HIDDEN PRINT DIVS   */


.popup2 {
	visibility: hidden;
	position: absolute;
	width:10px;
	}

.popup:hover .popup2  {
	color: #000000;
	background: #FFFFCC ;
	text-align: left;
	visibility: visible;
	font-size: .9em;
	border: 1px solid #000000;
	padding: 12px 2px 12px 12px;
	width: 120px;
	font-weight: bold;
	position: absolute;
	margin-top: 2.7em;
	z-index: 100;
	}
.clear  {
	text-align: left;
	padding-left: .5em;
	padding-bottom: 0em;
	margin: 0px;
}
ul, ol {
	text-align: left;
	margin: 0px;
	padding: 0px;
}
	
li {
	text-align: left;
	list-style-image: url(../images/bullet_arrow.gif);
	padding-left: 0.5em;
	margin-left: 2em;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
ul li ul li {
text-align: left;
	list-style-type: square;
	list-style-image: url(../images/sub_bullet_arrow.gif);
}
ol li {
	text-align: left;
	padding-left: 0.5em;
	margin-left: 2em;
	list-style-image: none;
}
p {
	padding: 0px;
	margin-top: 10px;
	margin-right: 5px;
	margin-bottom: 10px;
	margin-left: 5px;
}
	
.home_table {
	background: #ECECEC url(../images/home_table_back.gif) no-repeat left top;
	width:60em;
	max-width:60em;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	display: table;
	border: 1px solid #666666;
}
.home_table tr td{
	padding: 5px;
}
.display_table {
	background: #FFFFFF url(../images/display_table_back.gif) no-repeat left top;
	border: 1px solid #666666;
	padding: 5px;
}
.data_table {
	background: #CCCCCC;
	border: 1px solid #666666;
	padding: 2px;
}
.data_table th {
	background: #CCC;
	text-align: left;
}
.data_table td {
	background: #FFF;
	text-align: left;
}
.TESTcpYearNavigation,
	.TESTcpMonthNavigation
			{
			background-color:#6677DD;
			text-align:center;
			vertical-align:middle;
			text-decoration:none;
			color:#FFFFFF;
			font-weight:bold;
			}
	.TESTcpDayColumnHeader,
	.TESTcpYearNavigation,
	.TESTcpMonthNavigation,
	.TESTcpCurrentMonthDate,
	.TESTcpCurrentMonthDateDisabled,
	.TESTcpOtherMonthDate,
	.TESTcpOtherMonthDateDisabled,
	.TESTcpCurrentDate,
	.TESTcpCurrentDateDisabled,
	.TESTcpTodayText,
	.TESTcpTodayTextDisabled,
	.TESTcpText
			{
			font-family:arial;
			font-size:8pt;
			}
	TD.TESTcpDayColumnHeader
			{
			text-align:right;
			border:solid thin #6677DD;
			border-width:0 0 1px 0;
			}
	.TESTcpCurrentMonthDate,
	.TESTcpOtherMonthDate,
	.TESTcpCurrentDate
			{
			text-align:right;
			text-decoration:none;
			}
	.TESTcpCurrentMonthDateDisabled,
	.TESTcpOtherMonthDateDisabled,
	.TESTcpCurrentDateDisabled
			{
			color:#D0D0D0;
			text-align:right;
			text-decoration:line-through;
			}
	.TESTcpCurrentMonthDate
			{
			color:#6677DD;
			font-weight:bold;
			}
	.TESTcpCurrentDate
			{
			color: #FFFFFF;
			font-weight:bold;
			}
	.TESTcpOtherMonthDate
			{
			color:#808080;
			}
	TD.TESTcpCurrentDate
			{
			color:#FFFFFF;
			background-color: #6677DD;
			border-width:1px;
			border:solid thin #000000;
			}
	TD.TESTcpCurrentDateDisabled
			{
			border-width:1px;
			border:solid thin #FFAAAA;
			}
	TD.TESTcpTodayText,
	TD.TESTcpTodayTextDisabled
			{
			border:solid thin #6677DD;
			border-width:1px 0 0 0;
			}
	A.TESTcpTodayText,
	SPAN.TESTcpTodayTextDisabled
			{
			height:20px;
			}
	A.TESTcpTodayText
			{
			color:#6677DD;
			font-weight:bold;
			}
	SPAN.TESTcpTodayTextDisabled
			{
			color:#D0D0D0;
			}
	.TESTcpBorder
			{
			border:solid thin #6677DD;
			}
			
#innerwrapper{
text-align:left;
}
#testdiv1{
	position:absolute;
	margin-top:-10em;
	visibility:hidden;
	background-color:#fff;
}
.block {
	height: 10px;
	width: 800px;
	background: #0066CC;
	display: block;
	clear: both;
}
